# ========================
# Data fetching
# ========================
yfinance==0.2.54
newsapi-python==0.2.7

# ========================
# Data manipulation
# ========================
pandas==2.2.2
numpy==1.26.4

# ========================
# Sentiment - FinBERT
# ========================
transformers==4.41.0
torch==2.3.0

# ========================
# Portfolio optimisation
# ========================
PyPortfolioOpt==1.5.5

# ========================
# Backtesting
# ========================
bt==0.2.9

# ========================
# Utils
# ========================
python-dotenv==1.0.1
matplotlib==3.9.0
seaborn==0.13.2
jupyter==1.0.0
ipykernel==6.29.4
tqdm==4.66.4
